@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~antd/dist/antd.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.anticon {
  vertical-align: middle;
}

.custom-html-parser *:not([class^="antd"]) {
  all: revert;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
